.company {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.list-company {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0px;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}
.link-befor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  margin-bottom: 30px;
  border: 1px solid $icons-color;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
  &:hover {
    border: 1px solid $accent-color;
  }
  &:hover .svg-logo,
  &:focus .svg-logo {
    fill: $accent-color;
  }
}
.svg-logo {
  fill: $icons-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
