.list-tasks {
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}
.list-container {
  padding-left: 0;
  margin: 0;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.list {
  text-align: center;
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
    }
  }
}
.block-svg-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: $bg-icon;
  border-radius: 4px;
  margin-bottom: 30px;
}
.list-svg-icon {
  display: block;

  background-color: $bg-icon;
  border-radius: 4px;
}
