.our-team {
  margin: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
  background: $bg-icon;
}
.our-team-list {
  width: 270px;
  background: $white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.font-text-three-comand {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-top: 30px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.paragraph-comand {
  margin-top: 0px;
  margin-bottom: 16px;
  padding-bottom: 0px;
  text-align: center;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.social-links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 32px 30px 32px;
  padding: 0px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: $white;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $accent-color;
  }
}
.our-team-svg {
  width: 20px;
  height: 20px;
  fill: $icons-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .social-icons-link:hover &,
  .social-icons-link:focus & {
    fill: $white;
  }
}
