.logoheder {
  color: $black;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-top: 24px;
  padding-bottom: 25px;
}
.weblogo {
  color: $accent-color;
}
.logofooter {
  display: inline-block;
  padding-bottom: 20px;

  color: $white;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
